<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Hex Editor</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <h1>Hex Editor</h1>
    <textarea v-model="hexData" @input="updateAsciiData"></textarea>
    <textarea v-model="asciiData" @input="updateHexData"></textarea>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        hexData: '',
        asciiData: ''
      },
      methods: {
        updateAsciiData() {
          this.asciiData = this.hexToAscii(this.hexData);
        },
        updateHexData() {
          this.hexData = this.asciiToHex(this.asciiData);
        },
        hexToAscii(hex) {
          let ascii = '';
          for (let i = 0; i < hex.length; i += 2) {
            ascii += String.fromCharCode(parseInt(hex.substr(i, 2), 16));
          }
          return ascii;
        },
        asciiToHex(ascii) {
          let hex = '';
          for (let i = 0; i < ascii.length; i++) {
            hex += ascii.charCodeAt(i).toString(16).padStart(2, '0');
          }
          return hex.toUpperCase();
        }
      }
    });
  </script>
</body>
</html>