@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

:root {
  --color-selected: #66ccff;
  --color-clickable: var(--color-background);
  --color-clickable-accent: #996633;
  --color-highlight: #336699;
  @media (prefers-color-scheme: dark) {
    --color-selected: #336699;
    --color-clickable: var(--color-background);
    --color-clickable-accent: #ffcc66;
    --color-highlight: #66ccff;
  }
}

.selected {
  background: var(--color-selected);
}

.clickable {
  display: inline-block;
  color: var(--color-clickable-accent);
  user-select: none;
  cursor: pointer;
}
.clickable.active {
  color: var(--color-clickable);
  background: var(--color-clickable-accent);
}

.highlight {
  display: inline-block;
  font-size: 0.8em;
  color: var(--color-highlight);
  user-select: none;
  cursor: pointer;
}

input[type="text"] {
  background: var(--color-background-mute);
  border: 1px dashed var(--color-clickable-accent);
  color: var(--color-text);
  font-family: monospace;
  box-sizing: content-box;
}
