@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

:root {
  --color-selected: #66ccff;
  --color-clickable: var(--color-background);
  --color-clickable-accent: #cc9933;
  --color-highlight: #3399cc;
  @media (prefers-color-scheme: dark) {
    --color-selected: #3399cc;
    --color-clickable: var(--color-background);
    --color-clickable-accent: #ffcc66;
    --color-highlight: #66ccff;
  }
}

.selected {
  background: var(--color-selected);
}

.clickable {
  display: inline-block;
  color: var(--color-clickable-accent);
  user-select: none;
  cursor: pointer;
}
.clickable.active {
  color: var(--color-clickable);
  background: var(--color-clickable-accent);
}

.highlight {
  display: inline-block;
  color: var(--color-highlight);
  user-select: none;
  cursor: pointer;
}
.small {
  font-size: 0.8em;
}

input[type="text"] {
  background: var(--color-background-mute);
  border: 1px dashed var(--color-clickable-accent);
  color: var(--color-text);
  font-family: monospace;
  font-size: 1em;
  box-sizing: content-box;
}

table, th, td {
  border: 1px solid  var(--color-border);
  border-collapse: collapse;
}
td {
  padding: 0 0.25em;
}
thead {
  background: var(--color-background-mute);
}
